/* *{
   margin: 0;
   padding: 0;
} */

.formcontainer{
    
    text-align: center;
    border: none;
    width: 100%;
i{
    width: 200%;
    background-color:wheat;
    border: none;
    border-radius: 10px;
   
    padding: 5px;
}
  .icon{
     width: 20px;
     
  }
    .trip{
        margin-left:140px;
        margin-top:30px;
        text-align: center;
        background-color: orange;
        border: 0;
        border-radius: 200px;
        width: 80%;
     
     label{
        display: inline-block;
        padding: 10px;
        padding-right: 0px;
        text-align: left;
        font-size: 20px;
        background: none;
        margin: 10px;
        input{
           border-radius: 10px;
            height: 30px;
           
        }
        ::placeholder{
            
            padding: 5px;
            font-size: 17px;
         }
         
     }
     input[type=submit]{
        margin: 20px;
        width: 150px;
        height:40px;
        font-size: 20px;
        color: white;
        border-radius: 10px;
        background-color: black;
        border: none;
     }
     input[type=submit]:hover{
            box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
     
    }
     
    
    
}