*{
    margin: 0;
    padding: 0;
    background: none;
 
     
}

.aboutus{
    width: 70%;
    margin: 20px 100px;
    width: 80%; 
    height: 70%;
    background-color:white;
    padding: 20px;
    border: none;
    border-radius: 20px;
}
h2,p{
    background: none;
}
h2{
    font-size: 30px;
}
p{
    font-size:20px ;
    padding: 5px;
}
video{
    margin: 30px 20%;
    width:55%;
}

  
